
/* Table of Contents
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
/* #Site Styles
================================================== */


h1 { line-height: 40px; }
h2 { text-transform: uppercase; }
h4 { font-size: 24px; margin-bottom: 5px; }

.middle { display: block; margin-left: auto; margin-right: auto; text-align: center; }
.clear { clear: both; }

.largearrow { font-size: 60px; color: #d0d0d0; }
.largearrow a {  text-decoration: none; }

.darkbox {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;	
}

.greenbox {
	background-color: rgba(117, 202, 82, 0.5);
	padding: 20px;	
}



.tpic { padding-bottom: 7px; }

/* #Header
================================================== */

#header { 
	z-index:999;
	width: 100%;
	position:relative;
	margin-top:130px; 
	height: 266px; 
	background: url(../images/city-front.png) repeat-x right 0px; 
  margin-bottom:120px;
}

#header-middle-bg{
	position:absolute;
	top:65px;
	height:266px;
	width:100%;
	background: url(../images/city-middle.png) repeat-x center 0px; 
}

#header-back-bg{
	position:absolute;
	top:0px;
	width:100%;
	height: 266px;
	background: url(../images/city-back.png) repeat-x 0px 0px; 
}

#header-godzilla{
	position:absolute;
	width:280px;
	height:276px;
	top:20px;
	left:20%;
	background: url(../images/kaiju.png) no-repeat;
}
	
#logo { 
	margin: 0;
	position: relative;
	top: 176px;  
}

img.center { 
	display: block; 
	margin-left: auto; margin-right: auto; 
}

#header nav { 
	font-family: 'Amatic SC', serif; 
	position:relative;
	top:2px;
}

#nav_left { 
	float:left; 
}
#nav_right { 
	float:right; 
}

#header nav li { 
	display:block; 
	float:left; 
}

#header nav a { 
	color:#fff; 
	text-decoration:none; 
	display: block;
	font-size:72px;
	padding: 5px 17px 5px 17px;
	margin: 0px 5px 0px 5px; 
	background: rgba(0, 0, 0, 0.6); 
	-webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

/* Fix position of contact icon */
header nav li.contact img {
	position:relative;
	top:-5px;
}

header nav a:visited { color: #e8e8e8; }
header nav a.active { color: #8dc63f; }
header nav a:hover { color: #8dc63f; }
header nav li:first-child { background:none; }
header nav li:first-child a { margin-left: 0px; }
header nav li:last-child a { margin-right: 0px; }


/* Fixed header only for larger screens */
@media only screen and (min-width: 767px) {

	header.fixed{
		position:fixed;
		top: -320px;
	}

	header.fixed #logo { 
		top:197px;
	}

	header.fixed #logo img{ 
		height:125px; 
	}

	header.fixed nav{
		top:72px;
	}

	header.fixed nav a{
		height: 40px; 
		font-size: 30px;
		line-height:40px;
	}

	header.fixed #nav_left { 
		left:80px; 
	}

	header.fixed #nav_right { 
		right:80px; 
	}

	header.fixed nav li.contact img {
		top:0px;
	}

	header.fixed nav li.home img {
		position:relative;
		top:2px;
	}
}

/* Make the nav smaller for screens smaller than 960px */
@media only screen and (max-width: 959px) {
	
	header #logo img{ 
		height:125px; 
	}

	header nav{
		top:51px;
	}

	header nav a{
		height: 40px; 
		font-size: 30px;
		line-height:40px;
	}

	header.fixed #nav_left { 
		left:0px; 
	}

	header.fixed #nav_right { 
		right:0px; 
	}


	header nav li.contact img {
		top:0px;
	}

	header nav li.home img {
		position:relative;
		top:2px;
	}
}

/* Mobile nav */
.mininav { font-family: 'Quando', serif, "Georgia", "Times New Roman", Arial, sans-serif; font-size: 15px; list-style-type:none; margin:0; padding:0; margin-top: 20px; }
.mininav li { background: #c99763; width: 49%; float: left; margin-right: 2%; text-align: center; margin-bottom: 5px; }
.mininav a { padding: 15px; padding-top: 20px; color: #000; text-decoration: none; display: block; }
.mininav a.active { background: #60370c; color: #FFF; }
.mininav a:hover { background: #93622e; color: #1c1c1c; }
.mininav .fixnav { margin-right: 0px;}

.heademail { float: right; margin-top: 20px; color: #FFF; font-weight: 600; }
.heademailmob { margin-top: 20px; margin-bottom: 15px; color: #FFF; font-weight: 600; text-decoration: none; text-align: center; }

/* #Footer
================================================== */

.footer {
	position:relative;
	bottom:0px;
	font: 15px/28px;
	margin-top:20px;
	padding-top: 15px;
	text-align: center;
}

.footer .eggs { 
	z-index:2;
	position:absolute;
	width:200px;
	left:50%;
	margin-left:-100px;
	top:30px;
}	

.footer .mound{
	z-index:1;
	position:relative;
	left:0px;
	width:100%;
	bottom:-10px;
}

.footer .social{
	z-index:2;
	width:240px;
	text-align:center;
	position: absolute;
	left:50%;
	margin-left:-120px;
	top:150px;
}

#tweetbtn { 
	float:left;
	width:100px;
}

#fblike { 
	float: right;
}

@media only screen and (max-width: 960px) {
	.footer .eggs { 
		width:160px;
		margin-left:-80px;
		top:25px;
	}
	.footer .social{
		top:120px;
	}
}

@media only screen and (max-width: 767px) {
	.footer .eggs { 
		width:100px;
		margin-left:-50px;
		top:20px;
	}
}

@media only screen and (max-width: 480px) {
	.footer .eggs { 
		width:70px;
		margin-left:-35px;
		top:10px;
	}
}

/* #Page
================================================== */

@media only screen and (min-width: 767px) {
	#page-container.fixed-header{
		margin-top:476px;
	}
}

/* #Home Page
================================================== */

.homeheading { 
	margin-top: 20px; 
	margin-bottom: 30px;
	font-size: 49px; 
	text-align: center; 
	line-height: 45px; 
	color: #FFFFFF; 
}

.homepic { padding-top: 5px;
			padding-bottom: 10px; }

.homeintro { font-size: 20px; text-align: center; margin-bottom: 30px; margin-top: -10px; }

.homename {
	font-weight: 600;
	font-size: 15px; 
	line-height: 23px; }
	
.blogheading { background-color: #FFFFFF; padding: 6px 5px 2px 10px; margin-bottom: 30px; }

.blogheading h2 { font-size: 40px; text-align: left; line-height: 45px; color: #2d2d2d; }

/* #Contact Page
================================================== */



/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 959px) {
	.hidefull { display: none; }
	.iphonelandscape { display: none; }
	.sponsors {
		list-style: none;
		margin: auto;
	}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.slidertop { 
		margin-top: -21px; 
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	.hidefull { display: none; }
	.sponsors {
		list-style: none;
		width: 650px;
		margin: auto;
		margin-left: 150px;
	}

	.prevsponsors { 
		margin-left: 35px; 
	}

	.iphonelandscape { 
		display: none; 
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.nomobile { display: none; }
}
	
@media only screen and (min-width: 480px) {
	.iphoneportrait { display: none; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.nomobile { display: none; }
	.iphonelandscape { display: none; }
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/




/* Layout Shortcodes */
.full-width {width:960px; height:auto; overflow:hidden}

.one_half { width: 48%; }
.one_third { width: 30.66%; }
.two_thirds { width: 65.33%; }
.one_fourth { width: 22%; }
.three_fourths { width: 74%; }
.one_fifth { width: 16.8%; }
.two_fifth { width: 37.6%; }
.three_fifth { width: 58.4%; }
.four_fifth { width: 67.2%; }
.one_sixth { width: 13.33%; }
.five_sixth { width: 82.67%; }

.one_half,
.one_third,
.two_thirds,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 20px;
	float: left;
}


.last {margin-right:0 !important;}