/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */



/* #Site Styles
================================================== */

h1 { line-height: 40px; }
h2 { text-transform: uppercase; }
h4 { font-size: 24px; margin-bottom: 5px; }

.middle { display: block; margin-left: auto; margin-right: auto; text-align: center; }
.clear { clear: both; }

.largearrow { font-size: 60px; color: #d0d0d0; }
.largearrow a {  text-decoration: none; }

.darkbox {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;	
}


/* #Header
================================================== */



header { 
	width: 100%; 
	height: 396px; 
	background: url(../images/headerbg.jpg) repeat-x top center; 
}

	
header #logo { 
	margin: 0 auto; 
	position: relative; 
	margin-top: 300px; 
	z-index: 999; 
}

img.center { 
	display: block; 
	margin-left: auto; margin-right: auto; 
}

header nav { 
	font-family: 'Amatic SC', serif; 
	font-size: 40px; 
	margin-top: 80px; 
}

header #nav_left { 
	position: relative;
	top:-255px;
	float:left; 
}
header #nav_right { 
	position: relative;
	top:-255px;
	float:right; 
}

header nav li { 
	display:block; 
	float:left; 
}

header nav a { 
	color:#fff; 
	text-decoration:none; 
	display: block;
	height: 50px; 
	line-height:50px;
	padding: 5px 17px 5px 17px;
	margin: 0px 5px 0px 5px; 
	background: rgba(0, 0, 0, 0.6); 
	-webkit-transition: color 200ms ease-in;
  -moz-transition: color 200ms ease-in;
  -o-transition: color 200ms ease-in;
  -ms-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

/* Fix position of contact icon */
header nav li.contact img {
	position:relative;
	top:-5px;
}

header nav a:visited { color: #fff; }
header nav a.active { color: #2f2f2f; }
header nav a:hover { color: #8dc63f; }
header nav li:first-child { background:none; }
header nav li:first-child a { margin-left: 0px; }
header nav li:last-child a { margin-right: 0px; }

.mininav { font-family: 'Quando', serif, "Georgia", "Times New Roman", Arial, sans-serif; font-size: 15px; list-style-type:none; margin:0; padding:0; margin-top: 20px; }
.mininav li { background: #c99763; width: 49%; float: left; margin-right: 2%; text-align: center; margin-bottom: 5px; }
.mininav a { padding: 15px; padding-top: 20px; color: #000; text-decoration: none; display: block; }
.mininav a.active { background: #60370c; color: #FFF; }
.mininav a:hover { background: #93622e; color: #1c1c1c; }
.mininav .fixnav { margin-right: 0px;}

.heademail { float: right; margin-top: 20px; color: #FFF; font-weight: 600; }
.heademailmob { margin-top: 20px; margin-bottom: 15px; color: #FFF; font-weight: 600; text-decoration: none; text-align: center; }



/* #Footer
================================================== */


.footer  {
		font: 15px/28px;
		margin-top:20px;
		padding-top: 15px;
		}

.eggs { margin-bottom: -10px; }		

#social { margin-left: auto; margin-right: auto; text-align: center; }
.social li { display: inline; float: left; margin-left: 10px; }

	
#tweetbtn { float: left; margin-top: 20px; width: 100px; }
#fblike { float: left; margin-top: 20px; }
#plusone { float: left; margin-left: 5px; margin-top: 20px; }

	

/* #Home Page
================================================== */

.homeheading { margin-top: 20px; font-size: 49px; text-align: center; line-height: 45px; color: #FFFFFF; }

.homepic { padding-top: 5px;
			padding-bottom: 10px; }

.homeintro { font-size: 20px; text-align: center; margin-bottom: 30px; margin-top: -10px; }

.homename {
	font-weight: 600;
	font-size: 15px; 
	line-height: 23px; }



/* #Contact Page
================================================== */

#contactsocial li a { text-decoration: none; }
#contactsocial li {list-style: none; padding-left: 45px; padding-bottom: 15px; padding-top: 0px; }    
#contactsocial li.contactfacebook {background: url(../images/contactfacebook.png) no-repeat left top;}
#contactsocial li.contacttwitter {background: url(../images/contacttwitter.png) no-repeat left top;}
#contactsocial li.contactstorify {background: url(../images/contactstorify.png) no-repeat left top;}
#contactsocial li.contactemail {background: url(../images/contactemail.png) no-repeat left top;}




/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 959px) {
	.hidefull {display: none; }
	.iphonelandscape { display: none; }
	.sponsors {
	list-style: none;
	margin: auto;
}
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	
	header nav { font-size: 13px; margin-top:0px; }
	header nav a { color:#fff; padding-bottom: 15px; display: block; margin-left: 15px; margin-right: 15px; }
	header #nav_left { float:left; margin-top: 20px; }
	header #nav_right { float:right; margin-top: 20px; }
	.slidertop { margin-top: -21px; }
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	.hidefull {display: none; }
	.iphonelandscape { display: none; }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	header #nav_left { display: none; }
	header #nav_right { display: none; }
	.nomobile { display: none; }
	header #logo { margin:0 auto; position:relative; margin-top: 0px; z-index:999; }
	}
	
	@media only screen and (min-width: 480px) {
	.iphoneportrait { display: none; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	header #nav_left { display: none; }
	header #nav_right { display: none; }
	.nomobile { display: none; }
	.iphonelandscape { display: none; }
	header #logo { margin:0 auto; position:relative; margin-top: 0px; z-index:999; }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/