/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

h1 { line-height: 40px; }
h2 { text-transform: uppercase; }
h4 { font-size: 24px; margin-bottom: 5px; }

.middle { display: block; margin-left: auto; margin-right: auto; text-align: center; }
.clear { clear: both; }

.largearrow { font-size: 60px; color: #d0d0d0; }
.largearrow a {  text-decoration: none; }

.darkbox {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;	
}

.greenbox {
	background-color: rgba(117, 202, 82, 0.5);
	padding: 20px;	
}



.tpic { padding-bottom: 7px; text-align: center; }

/* #Header
================================================== */

header { 
	z-index:999;
	width: 100%;
	position:relative;
	margin-top:130px; 
	height: 266px; 
	background: url(../images/city-front.png) repeat-x right 0px; 
  margin-bottom:120px;
}

#header-middle-bg{
	position:absolute;
	top:65px;
	height:266px;
	width:100%;
	background: url(../images/city-middle.png) repeat-x center 0px; 
}

#header-back-bg{
	position:absolute;
	top:0px;
	width:100%;
	height: 266px;
	background: url(../images/city-back.png) repeat-x 0px 0px; 
}

#header-godzilla{
	position:absolute;
	width:280px;
	height:276px;
	top:20px;
	left:20%;
	background: url(../images/kaiju.png) no-repeat;
}
	
header #logo { 
	margin: 0 auto 0 auto;
	position: relative;
	top: 176px;
	width:280px;
}


img.center { 
	display: block; 
	margin-left: auto; margin-right: auto; 
}

header nav { 
	font-family: 'Amatic SC', serif; 
	position:relative;
	top:2px;
}

header #nav_left { 
	float:left; 
}
header #nav_right { 
	float:right; 
}

header nav li { 
	display:block; 
	float:left; 
}

header nav a { 
	color:#fff; 
	text-decoration:none; 
	display: block;
	font-size: 40px;
	height: 50px; 
	line-height:50px;
	padding: 5px 17px 5px 17px;
	margin: 0px 5px 0px 5px; 
	background: rgba(0, 0, 0, 0.6); 
	-webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

/* Fix position of contact icon */
header nav li.contact img {
	position:relative;
	top:-5px;
}

header nav a:visited { color: #e8e8e8; }
header nav a.active { color: #8dc63f; }
header nav a:hover { color: #8dc63f; }
header nav li:first-child { background:none; }
header nav li:first-child a { margin-left: 0px; }
header nav li:last-child a { margin-right: 0px; }


/* Fixed header only for larger screens */
@media only screen and (min-width: 767px) {

	header.fixed{
		position:fixed;
		top: -320px;
	}

	header.fixed #logo { 
		top:197px;
	}

	header.fixed #logo img{ 
		height:125px; 
	}

	header.fixed nav{
		top:72px;
	}

	header.fixed nav a{
		height: 40px; 
		font-size: 30px;
		line-height:40px;
	}

	header.fixed #nav_left { 
		left:80px; 
	}

	header.fixed #nav_right { 
		right:80px; 
	}

	header.fixed nav li.contact img {
		top:0px;
	}

	header.fixed nav li.home img {
		position:relative;
		top:2px;
	}
}

/* Make the nav smaller for screens smaller than 960px */
@media only screen and (max-width: 959px) {
	
	header #logo img{ 
		height:125px; 
	}

	header nav{
		top:51px;
	}

	header nav a{
		height: 40px; 
		font-size: 30px;
		line-height:40px;
	}

	header.fixed #nav_left { 
		left:0px; 
	}

	header.fixed #nav_right { 
		right:0px; 
	}


	header nav li.contact img {
		top:0px;
	}

	header nav li.home img {
		position:relative;
		top:2px;
	}
}

/* Mobile nav */
.mininav { font-family: 'Quando', serif, "Georgia", "Times New Roman", Arial, sans-serif; font-size: 15px; list-style-type:none; margin:0; padding:0; margin-top: 20px; }
.mininav li { background: #c99763; width: 49%; float: left; margin-right: 2%; text-align: center; margin-bottom: 5px; }
.mininav a { padding: 15px; padding-top: 20px; color: #000; text-decoration: none; display: block; }
.mininav a.active { background: #60370c; color: #FFF; }
.mininav a:hover { background: #93622e; color: #1c1c1c; }
.mininav .fixnav { margin-right: 0px;}

.heademail { float: right; margin-top: 20px; color: #FFF; font-weight: 600; }
.heademailmob { margin-top: 20px; margin-bottom: 15px; color: #FFF; font-weight: 600; text-decoration: none; text-align: center; }

/* #Footer
================================================== */

.footer {
	position:relative;
	bottom:0px;
	font: 15px/28px;
	margin-top:40px;
	padding-top: 15px;
	text-align: center;
}

.footer .eggs { 
	z-index:2;
	position:absolute;
	width:200px;
	left:50%;
	margin-left:-100px;
	top:30px;
}	

.footer .mound{
	z-index:1;
	position:relative;
	left:0px;
	width:100%;
	bottom:-10px;
}

.footer .social{
	z-index:2;
	width:240px;
	text-align:center;
	position: absolute;
	left:50%;
	margin-left:-120px;
	top:150px;
}

#tweetbtn { 
	float:left;
	width:100px;
}

#fblike { 
	float: right;
}

@media only screen and (max-width: 960px) {
	.footer .eggs { 
		top:0px;
	}
	.footer .social{
		top:120px;
	}
}

@media only screen and (max-width: 767px) {
	.footer{
		padding-top:55px;
	}
	.footer .eggs { 
		top:0px;
	}
}

@media only screen and (max-width: 480px) {
	.footer{
		padding-top:75px;
	}
	.footer .eggs { 
		top:0px;
	}
}

/* #Page
================================================== */

@media only screen and (min-width: 767px) {
	#page-container.fixed-header{
		margin-top:476px;
	}
}

/* #Home Page
================================================== */

.homeheading { margin-top: 20px; font-size: 49px; text-align: center; line-height: 45px; color: #FFFFFF; }

.homepic { padding-top: 5px;
			padding-bottom: 10px; }

.homeintro { font-size: 20px; text-align: center; margin-bottom: 30px; margin-top: -10px; }

.homename {
	font-weight: 600;
	font-size: 15px; 
	line-height: 23px; }
	
.blogheading { background-color: #FFFFFF; padding: 6px 5px 2px 10px; margin-bottom: 30px; }

.blogheading h2 { font-size: 40px; text-align: left; line-height: 45px; color: #2d2d2d; }

/* #Team Page
================================================== */

.social-buttons{
	margin:5px 0px 0px;
	padding:0px;
	text-align:center;
}

.social-buttons li{
	display:inline;
	font-size:24px;
	padding-left:5px;
}

.social-buttons li.first{
	padding-left:0px;
}

.social-buttons a{
	text-decoration: none;
	color:white;
}
.social-buttons a:hover{color:white; opacity:.8;};
.social-buttons a:active{color:white; opacity:.8;};
.social-buttons a:visited{color:white;};



/* #Contact Page
================================================== */

#contactsocial li a { text-decoration: none; }
#contactsocial li {list-style: none; padding-left: 45px; padding-bottom: 15px; padding-top: 0px; }    
#contactsocial li.contactfacebook {background: url(../images/contactfacebook.png) no-repeat left top;}
#contactsocial li.contacttwitter {background: url(../images/contacttwitter.png) no-repeat left top;}
#contactsocial li.contactstorify {background: url(../images/contactstorify.png) no-repeat left top;}
#contactsocial li.contactemail {background: url(../images/contactemail.png) no-repeat left top;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 959px) {
	.hidefull { display: none; }
	.iphonelandscape { display: none; }
	.sponsors {
		list-style: none;
		margin: auto;
	}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.slidertop { 
		margin-top: -21px; 
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	.hidefull { display: none; }
	.sponsors {
		list-style: none;
		width: 650px;
		margin: auto;
		margin-left: 150px;
	}

	.prevsponsors { 
		margin-left: 35px; 
	}

	.iphonelandscape { 
		display: none; 
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.nomobile { display: none; }
}
	
@media only screen and (min-width: 480px) {
	.iphoneportrait { display: none; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.nomobile { display: none; }
	.iphonelandscape { display: none; }
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/